@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    height: 100vh;
    font-family: "Permanent Marker", cursive;
}